{% extends 'base.html.twig' %}

{% block title %}
    Création
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    {{ form_end(eventForm) }}

    {{ form_errors(placeForm) }}
    {{ form_start(placeForm) }}
    {{ form_widget(placeForm) }}
    {{ form_end(placeForm) }}


    <div>
        <a href="{{ path('main_home') }}">
            <button type="submit" class="btn btn-primary ">Enregistrer</button>
        </a>
        <button type="submit" class="btn btn-primary ">Enregistrer</button>
        <button type="submit" class="btn btn-primary ">Annuler</button>
    </div>
{% endblock %}
