{% extends 'base.html.twig' %}

{% block title %}
    liste
{% endblock %}

{% block body %}
    <h1>Mes sorties : </h1>
    <table>
        <thead>
            <tr>
                <th>Thème</th>
                <th>Quand</th>
                <th>Où</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                {% set canModifie = '' %}
                {% if event.state.reference == 0 and event.promoter.id == user.id %}
                    {% set canModifie = 'yes'%}
                {% endif %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startTime |date("d/m/y H:i", "Europe/Paris") }}</td>
                    <td>{{ event.place.name }}</td>
                    <td>
                        <a href="{{ path('event_event', {'id': event.id}) }}"
                           title="Détail de cette sortie">
                           Détail
                        </a>
                        {% if canModifie == 'yes' and event.startTime|date("d/m/y") > "now" | date("d/m/y") %}
                            <a href="{{ path('event_editEvent', {'id': event.id}) }}" title="Modifier cet évènement"> Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5">Vous n'avez aucune sortie !</td></tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endblock %}

