{% extends 'base.html.twig' %}

{% block title %}
    liste
{% endblock %}

{% block body %}
    <h1>Mes sorties : </h1>
    <table>
        <thead>
            <tr>
                <th>Thème</th>
                <th>Quand</th>
                <th>Où</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startTime |date("m/d/Y", "Europe/Paris") }}</td>
                    <td>{{ event.place.name }}</td>
                    <td>
                        <a href="{{ path('event_event', {'id': event.id}) }}"
                           title="Détail de cette sortie">
                           Détail
                        </a>
                        <a href="{{ path('event_editEvent', {'id': event.id}) }}"
                           title="Modifier">
                           Modifier
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5">Vous n'avez aucune sortie !</td></tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endblock %}

