{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .wrap{
            width: 100%;
            height: 80vh;
            background-image: linear-gradient(to right top, white,white);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .form{
            width: 1200px;
            height: 700px;
            background: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            font-size: 16px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
        }.title {
             color: #61677c;
             font-size: 35px;
             margin-bottom: 20px;
         }

    </style>
<div class="wrap">
    <div class="form">
    <h1 class="title">Détail d'événement</h1>
    <div class="container">
            <div class="col-sm">
                <p>Nom de la sortie : {{ event.name }}</p>
                <p>Date et heure de la sortie : {{  event.startTime | date('d/m/Y H:i:s') }}</p>
                <p>Date limite d'inscription : {{  event.deadLine | date('d/m/Y') }}</p>
                <p>Nombre de places : {{ event.placeMax }}</p>
                <p>Durée : {{ event.duration }} minutes</p>
                <p>Description et infos : {{ event.info }}</p>
            </div>
            <div class="col-sm">
                <p>Ville organisatrice : {{ user.site.name }}</p>
                <p>Lieu : {{ event.place.name }}</p>
                <p>Rue : {{ event.place.street }}</p>
                <p>Ville d'évenement : {{ event.place.city.name }}</p>
                <p>Code postal : {{ event.place.city.zipcode }}</p>
                <p>Latitude : {{ event.place.latitude}}</p>
                <p>Longitude : {{ event.place.longitude }}</p>
            </div>
    </div>
    </div>
    <div class="form">
    <h1 class="title">Participants inscrits :</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            {% for userRegistered in event.getUsersEvents %}
                <tr>
                    <td><a href="{{ path('profiler', {'id': userRegistered.id}) }}">{{ userRegistered.pseudo }}</a></td>
                    <td>{{ userRegistered.firstname }} {{ userRegistered.lastname }}</td>
                    <td>{{ userRegistered.email }} </td>
                </tr>
            {% endfor %}
                </tbody>
        </table>
    </div>
    {% set cancomment = '' %}
    {% if event.state.reference == 3 or event.state.reference == 4 or event.state.reference == 5 %}
        {% set cancomment = 'yes' %}
    {% endif %}
    <div class="form1">
    <h1 class="title">Commentaires :</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in event.getComments %}
                <tr>
                    <td>{{ comment.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if cancomment == 'yes' %}
        <a href="{{ path('event_comment', {'id': event.id}) }}" title="Ajouter votre commentaire" class="submitBtn">Commentaire</a>
    {% endif %}
</div>
{% endblock %}

