{% extends 'base.html.twig' %}


{% block body %}

    <h1>Détails de la sortie</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Nom de la sortie : {{ event.name }}</p>
                <p>Date et heure de la sortie : {{  event.startTime | date('d/m/Y') }}</p>
                <p>Nombre de places : {{ event.placeMax }}</p>
                <p>Durée : {{ event.duration }}</p>
                <p>Description et infos : {{ event.info }}</p>
            </div>
            <div class="col-sm">
                <p>Ville organisatrice : {{ event.site.name }}</p>
                <p>Lieu : {{  event.place.name }}</p>
                <p>Rue : {{ event.place.street }}</p>
                <p>Code postal : {{ event.place.city.zipcode }}</p>
                <p>Latitude : {{ event.place.latitude}}</p>
                <p>Longitude : {{ event.place.longitude }}</p>
            </div>

        </div>
    </div>


    <h1>Participants inscrits:</h1>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
    </thead>
    <tbody>

    {% for userRegistered in event.getUsersEvents %}
        <tr>
            <td>{{ userRegistered.pseudo }}</td>
            <td>{{ userRegistered.firstname }} {{ userRegistered.lastname }}</td>
        </tr>

    {% endfor %}
        </tbody>
    </table>


{% endblock %}

