{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .rowTop{
            display: flex;
            justify-content: space-between;
        }
        .date{
            display: flex;
        }
        .cardTop{
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
            padding: 10px;
        }
        .cardTop:hover{
            transform: scale(1.05);
        }

    </style>

    {% block message %}{{ parent() }}{% endblock %}
    {{ form_start(accueilForm)}}
    <div class="rowTop">
        <div class="card cardTop">
            <div class="col">
                {{ form_row(accueilForm.site) }}
            </div>
            <div class="col" id="some-custom-id">
                {{ form_row(accueilForm.key) }}
            </div>

            <div class="date">
                <div class="col">
                    {{ form_row(accueilForm.startDateTime) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(accueilForm.endDateTime) }}
                </div>
            </div>

        </div>

        <div class="card cardTop">
            <div class="col" id="some-custom-id">
                {{ form_row(accueilForm.promoter) }}
            </div>
            <div class="col">
                {{ form_row(accueilForm.registered) }}
            </div>
            <div class="col" id="some-custom-id">
                {{ form_row(accueilForm.notRegistered) }}
            </div>
            <div class="col">
                {{ form_row(accueilForm.oldEvent) }}
            </div>

            <button class="btn btn-primary">Rechercher</button>
        </div>
        <div class="card  text-white bg-info" style="max-width: 18rem;">
            <h4>Date du jour: {{ "now"|date('d/m/Y')}}</h4>
            <h4>Participant: {{ user.firstname }} {{ user.lastname }}</h4>
        </div>
    </div>
    <script src="{{ asset('javascript/accueil.js') }}"></script>
    {{ form_end(accueilForm)}}


    <div class="containerCard">
        <div class="card">
            <img class="card-img-top" src="images/welcomePage/afterwork.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">After-Work</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consequuntur, error. Commodi debitis doloribus eos!</p>
                <p class="card-text"><small class="text-muted">Connecte toi pour retrouver tous les évènements</small></p>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {% set isPresent = '' %}
            {% for User in event.getUsersEvents %}
                {% if User.email == user.email %}
                    {% set isPresent = 'present'%}
                {% endif %}
            {% endfor %}

            {% set canDisplay = '' %}
            {% if event.state.reference > 0 and event.state.reference < 5  %}
                {% set canDisplay = 'yes'%}
            {% endif %}

            {% set canWithDraw = '' %}
            {% if (event.state.reference == 1 or event.state.reference == 2) and isPresent %}
                {% set canWithDraw = 'yes'%}
            {% endif %}

            {% set canRegister = '' %}
            {% if event.state.reference == 1 and isPresent == '' %}
                {% set canRegister = 'yes'%}
            {% endif %}

            {% set canModifie = '' %}
            {% if event.state.reference == 0 and event.promoter.id == user.id %}
                {% set canModifie = 'yes'%}
            {% endif %}

            {% set canCancel = '' %}
            {% if event.state.reference < 3  and event.promoter.id == user.id %}
                {% set canCancel = 'yes'%}
            {% endif %}

            {% set canPublished = '' %}
            {% if event.state.reference == 0  and event.promoter.id == user.id %}
                {% set canPublished = 'yes'%}
            {% endif %}

            {% if (isPresent == 'present' and isRegisteredChoice) or (isPresent == '' and isNotRegisteredChoice) or (isRegisteredChoice is empty and isNotRegisteredChoice is empty) %}
                <tr class="tr">
                    <td>{{ event.name }}</td>
                    <td>{{ event.startTime|date('d/m/Y') }}</td>
                    <td>{{ event.deadLine|date('d/m/Y') }}</td>
                    <td>{{ event.getUsersEvents.count }}/{{ event.placeMax }}</td>
                    {% set st = event.state.reference %}
                    <td>{{ stateX[st] }}</td>
                    <td>{{ isPresent ? 'X' : '' }}</td>
                    <td>{{ event.promoter.firstname }} {{ event.promoter.lastName }}</td>
                    <td>
                        {% if canDisplay == 'yes' %}
                            <a href="{{ path('event_event', {'id': event.id}) }}" title="Détail de cet évènement"><button class="btn btn-info btn-sm">Afficher</button></a>
                        {% endif %}
                        {% if canWithDraw == 'yes' %}
                            <a href="{{ path('event_user_unregistered', {'id': event.id}) }}" title="Se désister de cet évènement"><button class="btn btn-warning btn-sm">Se désister</button></a>
                        {% endif %}
                        {% if (canRegister == 'yes' and event.getUsersEvents.count < event.placeMax) %}
                            <a href="{{ path('event_user_registered', {'id': event.id}) }}" title="S'incrire à cet évènement"><button class="btn btn-primary btn-sm">S'inscrire</button></a>
                        {% endif %}
                        {% if canModifie == 'yes' %}
                            <a href="{{ path('event_editEvent', {'id': event.id}) }}" title="Modifier cet évènement"><button class="btn btn-success btn-sm">Modifier</button></a>
                        {% endif %}
                        {% if canCancel == 'yes' %}
                            <a href="{{ path('event_cancelEvent', {'id': event.id}) }}" title="Annuler cet évènement"><button class="btn btn-danger btn-sm">Annuler</button></a>
                        {% endif %}
                        {% if canPublished == 'yes' %}
                            <a href="{{ path('event_publishEvent', {'id': event.id}) }}" title="Publier cet évènement"><button class="btn btn-success btn-sm">Publier</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr><td colspan="5">Aucune donnée dans la BDD.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('event_createEvent') }}"><button class="btn btn-primary ">Créer une sortie</button></a>
{% endblock %}
