{% extends 'base.html.twig' %}
{% block body %}
    {% block message %}{{ parent() }}{% endblock %}
    {{ form_start(accueilForm)}}
    {{ form_widget(accueilForm) }}
    <button class="btn btn-primary btn-sm">Rechercher</button>
    {{ form_end(accueilForm)}}
    <script src="{{ asset('javascript/accueil.js') }}"></script>
    <div>
        <h4>Date du jour: {{ "now"|date('d/m/Y')}}</h4>
        <h4>Participant: {{ user.firstname }} {{ user.lastname }}</h4>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {% set isPresent = '' %}
            {% for User in event.getUsersEvents %}
                {% if User.email == user.email %}
                    {% set isPresent = 'present'%}
                {% endif %}
            {% endfor %}

            {% set canDisplay = '' %}
            {% if event.state.reference > 0 and event.state.reference < 5  %}
                {% set canDisplay = 'yes'%}
            {% endif %}

            {% set canWithDraw = '' %}
            {% if (event.state.reference == 1 or event.state.reference == 2) and isPresent %}
                {% set canWithDraw = 'yes'%}
            {% endif %}

            {% set canRegister = '' %}
            {% if event.state.reference == 1 and isPresent == '' %}
                {% set canRegister = 'yes'%}
            {% endif %}

            {% set canModifie = '' %}
            {% if event.state.reference == 0 and event.promoter.id == user.id %}
                {% set canModifie = 'yes'%}
            {% endif %}

            {% set canCancel = '' %}
            {% if event.state.reference < 3  and event.promoter.id == user.id %}
                {% set canCancel = 'yes'%}
            {% endif %}

            {% set canPublished = '' %}
            {% if event.state.reference == 0  and event.promoter.id == user.id %}
                {% set canPublished = 'yes'%}
            {% endif %}

            {% if (isPresent == 'present' and isRegisteredChoice) or (isPresent == '' and isNotRegisteredChoice) or (isRegisteredChoice is empty and isNotRegisteredChoice is empty) %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startTime|date('d/m/Y') }}</td>
                    <td>{{ event.deadLine|date('d/m/Y') }}</td>
                    <td>{{ event.getUsersEvents.count }}/{{ event.placeMax }}</td>
                    {% set st = event.state.reference %}
                    <td>{{ stateX[st] }}</td>
                    <td>{{ isPresent ? 'X' : '' }}</td>
                    <td>{{ event.promoter.firstname }} {{ event.promoter.lastName }}</td>
                    <td>
                        {% if canDisplay == 'yes' %}
{#                            <a href="{{ path('admin_campus_management_update', {'id': campus.id})  }}"><button type="button" id="myClick" class="btn btn-info btn-sm buttonInsideFor">Modifier</button></a>#}
                            <a href="{{ path('event_event', {'id': event.id}) }}" title="Détail de cet évènement"><button class="btn btn-info btn-sm">Afficher</button></a>
                        {% endif %}
                        {% if canWithDraw == 'yes' %}
                        <a href="{{ path('event_user_unregistered', {'id': event.id}) }}" title="Se désister de cet évènement">Se désister</a>
                        {% endif %}
                        {% if (canRegister == 'yes' and event.getUsersEvents.count < event.placeMax) %}
                        <a href="{{ path('event_user_registered', {'id': event.id}) }}" title="S'incrire à cet évènement"><button class="btn btn-primary btn-sm">S'inscrire</button></a>
                        {% endif %}
                        {% if canModifie == 'yes' %}
                        <a href="{{ path('event_editEvent', {'id': event.id}) }}" title="Modifier cet évènement"> Modifier</a>
                        {% endif %}
                        {% if canCancel == 'yes' %}
                            <a href="{{ path('event_cancelEvent', {'id': event.id}) }}" title="Annuler cet évènement"> Annuler</a>
                        {% endif %}
                        {% if canPublished == 'yes' %}
                            <a href="{{ path('event_publishEvent', {'id': event.id}) }}" title="Publier cet évènement"> Publier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr><td colspan="5">Aucune donnée dans la BDD.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('event_createEvent') }}"><button class="btn btn-primary ">Créer une sortie</button></a>
{% endblock %}

