{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .rowTop{
            display: flex;
            justify-content: space-between;
        }
        .form{
            width: 1000px;
            height: 240px;
            background: white;
            border-radius: 20px;
            display: flex;
            overflow: hidden;
            font-weight: bold;
            transition: all 0.2s ease-in-out;;
            cursor: pointer;
            font-size: 15px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
            padding-top: 10px;
        }
        .card1{
            padding: 10px;
            background: lightskyblue;
            color:white;
            border: none;
            border-radius: 20px;
            overflow: hidden;
            font-weight: bold;
            transition: all 0.2s ease-in-out;;
            cursor: pointer;
            font-size: 15px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
            padding-top: 20px;
        }
        .nomSortie {
            word-wrap: break-word;
            width: 120px;
        }
        .left{
            padding: 10px;
            width: 500px;
            height: 260px;
        }
        .right{
            width: 500px;
            height: 260px;
        }
        .my-form input {
            margin-left: 3px;
            box-shadow: inset 1px 1px 2px #babecc, inset -2px -2px 3px #fff;
            box-sizing: border-box;
            position: absolute;

        }
        .my-form ::placeholder {
            color: transparent;
        }
        .submitBtn:hover {
            box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
            transform: translateY(-2px);
        }
        .submitBtn, .my-form input {
            background-color: #ebecf0;
            text-shadow: 1px 1px 0 #fff;
            border-radius: 7px;
            font-size: 15px;
            padding: 12px;
            border: 0;
            outline: 0;
        }
        @media only screen and (max-width: 600px) {
            . * {
                font-size: small;
            }
            .form{
                width: 320px;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                font-size: 10px;
            }
            .left{
                width: 320px;
                height: 80px;
            }
            .card1{
                padding: 2px;
                border-radius: 2px;
                font-size: 5px;
            }
            .submitBtn {
                padding: 2px;
                color: #ff6f61;
                font-weight: bold;
                transition: all 0.2s ease-in-out;;
                cursor: pointer;
                font-size: 10px;
                box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
            }
        }
    </style>

    {% block message %}{{ parent() }}{% endblock %}
    {{ form_start(accueilForm, {'attr': {'class': 'my-form'}})}}
    <div class="rowTop">
        <div class="form">
            <div class="left">
                {{ form_row(accueilForm.site) }}<br>
                <div class="nomSortie">
                    {{ form_row(accueilForm.key) }}</div><br>
                {{ form_row(accueilForm.startDateTime) }}<br>
                {{ form_row(accueilForm.endDateTime) }}
            </div>
            <div class="right">
                {{ form_row(accueilForm.promoter) }}
                {{ form_row(accueilForm.registered) }}
                {{ form_row(accueilForm.notRegistered) }}
                {{ form_row(accueilForm.oldEvent) }}
                <br>
                <button class="submitBtn">Rechercher</button>
            </div>
        </div>
        <div class="card1" style="max-width: 18rem;">
            <h4>Date du jour: {{ "now"|date('d/m/Y')}}</h4><br><br>
            <h4>Participant: {{ user.firstname }} {{ user.lastname }}</h4>
        </div>
    </div>

    <script src="{{ asset('javascript/accueil.js') }}"></script>
    {{ form_end(accueilForm)}}

        {#    <table class="table table-striped">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th>Nom de la sortie</th>#}
    {#            <th>Date de la sortie</th>#}
    {#            <th>Clôture</th>#}
    {#            <th>inscrits/places</th>#}
    {#            <th>Etat</th>#}
    {#            <th>Inscrit</th>#}
    {#            <th>Organisateur</th>#}
    {#            <th>Actions</th>#}
    {#            <th></th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
<div class="containerAllEventsCards">
    {% for event in events %}
        {% set isPresent = '' %}
        {% for User in event.getUsersEvents %}
            {% if User.email == user.email %}
                {% set isPresent = 'present'%}
            {% endif %}
        {% endfor %}

        {% set canDisplay = '' %}
        {% if event.state.reference > 0 and event.state.reference < 5  %}
            {% set canDisplay = 'yes'%}
        {% endif %}

        {% set canWithDraw = '' %}
        {% if (event.state.reference == 1 or event.state.reference == 2) and isPresent %}
            {% set canWithDraw = 'yes'%}
        {% endif %}

        {% set canRegister = '' %}
        {% if event.state.reference == 1 and isPresent == '' %}
            {% set canRegister = 'yes'%}
        {% endif %}

        {% set canModifie = '' %}
        {% if event.state.reference == 0 and event.promoter.id == user.id %}
            {% set canModifie = 'yes'%}
        {% endif %}

        {% set canCancel = '' %}
        {% if event.state.reference < 3  and event.promoter.id == user.id %}
            {% set canCancel = 'yes'%}
        {% endif %}

        {% set canPublished = '' %}
        {% if event.state.reference == 0  and event.promoter.id == user.id %}
            {% set canPublished = 'yes'%}
        {% endif %}

        {% if (isPresent == 'present' and isRegisteredChoice) or (isPresent == '' and isNotRegisteredChoice) or (isRegisteredChoice is empty and isNotRegisteredChoice is empty) %}
            <div class="containerCard">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/welcomePage/activities.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">Date: {{ event.startTime|date('d/m/Y') }}</p>
                        <p class="card-text">inscrit/nb places: {{ event.getUsersEvents.count }}/{{ event.placeMax }}</p>
                        <div>
                            {% if canDisplay == 'yes' %}
                                <a href="{{ path('event_event', {'id': event.id}) }}" title="Détail de cet évènement"><button class="btn btn-info btn-sm">Afficher</button></a>
                            {% endif %}
                            {% if canWithDraw == 'yes' %}
                                <a href="{{ path('event_user_unregistered', {'id': event.id}) }}" title="Se désister de cet évènement"><button class="btn btn-warning btn-sm">Se désister</button></a>
                            {% endif %}
                            {% if (canRegister == 'yes' and event.getUsersEvents.count < event.placeMax) %}
                                <a href="{{ path('event_user_registered', {'id': event.id}) }}" title="S'incrire à cet évènement"><button class="btn btn-primary btn-sm">S'inscrire</button></a>
                            {% endif %}
                            {% if canModifie == 'yes' %}
                                <a href="{{ path('event_editEvent', {'id': event.id}) }}" title="Modifier cet évènement"><button class="btn btn-success btn-sm">Modifier</button></a>
                            {% endif %}
                            {% if canCancel == 'yes' %}
                                <a href="{{ path('event_cancelEvent', {'id': event.id}) }}" title="Annuler cet évènement"><button class="btn btn-danger btn-sm">Annuler</button></a>
                            {% endif %}
                            {% if canPublished == 'yes' %}
                                <a href="{{ path('event_publishEvent', {'id': event.id}) }}" title="Publier cet évènement"><button class="btn btn-success btn-sm">Publier</button></a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>


            {#                <tr class="tr">#}
            {#                    <td>{{ event.name }}</td>#}
            {#                    <td>{{ event.startTime|date('d/m/Y') }}</td>#}
            {#                    <td>{{ event.deadLine|date('d/m/Y') }}</td>#}
            {#                    <td>{{ event.getUsersEvents.count }}/{{ event.placeMax }}</td>#}
            {#                    {% set st = event.state.reference %}#}
            {#                    <td>{{ stateX[st] }}</td>#}
            {#                    <td>{{ isPresent ? 'X' : '' }}</td>#}
            {#                    <td>{{ event.promoter.firstname }} {{ event.promoter.lastName }}</td>#}
            {#                    <td>#}
            {#                        {% if canDisplay == 'yes' %}#}
            {#                            <a href="{{ path('event_event', {'id': event.id}) }}" title="Détail de cet évènement"><button class="btn btn-info btn-sm">Afficher</button></a>#}
            {#                        {% endif %}#}
            {#                        {% if canWithDraw == 'yes' %}#}
            {#                            <a href="{{ path('event_user_unregistered', {'id': event.id}) }}" title="Se désister de cet évènement"><button class="btn btn-warning btn-sm">Se désister</button></a>#}
            {#                        {% endif %}#}
            {#                        {% if (canRegister == 'yes' and event.getUsersEvents.count < event.placeMax) %}#}
            {#                            <a href="{{ path('event_user_registered', {'id': event.id}) }}" title="S'incrire à cet évènement"><button class="btn btn-primary btn-sm">S'inscrire</button></a>#}
            {#                        {% endif %}#}
            {#                        {% if canModifie == 'yes' %}#}
            {#                            <a href="{{ path('event_editEvent', {'id': event.id}) }}" title="Modifier cet évènement"><button class="btn btn-success btn-sm">Modifier</button></a>#}
            {#                        {% endif %}#}
            {#                        {% if canCancel == 'yes' %}#}
            {#                            <a href="{{ path('event_cancelEvent', {'id': event.id}) }}" title="Annuler cet évènement"><button class="btn btn-danger btn-sm">Annuler</button></a>#}
            {#                        {% endif %}#}
            {#                        {% if canPublished == 'yes' %}#}
            {#                            <a href="{{ path('event_publishEvent', {'id': event.id}) }}" title="Publier cet évènement"><button class="btn btn-success btn-sm">Publier</button></a>#}
            {#                        {% endif %}#}
            {#                    </td>#}
            {#                </tr>#}
        {% endif %}
    {% else %}
        {#            <tr><td colspan="5">Aucune donnée dans la BDD.</td></tr>#}
    {% endfor %}
    </divclass>

    {#        </tbody>#}
    {#    </table>#}


    <a href="{{ path('event_createEvent') }}"><button class="submitBtn">Créer une sortie</button></a>
{% endblock %}
