{% extends 'base.html.twig' %}

{% block title %}Hello AdminGestionVillesController!{% endblock %}

{% block body %}

    <style>
        * {
            box-sizing: border-box;
        }
        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        #myUL li span {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block
        }
        .box {
            display: flex;
        }
        .boxVille{
            width: 50%;
        }

        .boxZip{
            width: 25%;
        }

        .boxActions{
            width: 25%;
        }

        #myUL li span:hover:not(.header) {
            background-color: #eee;
        }

        /*.container{*/
        /*    display: flex;*/
        /*    justify-content: space-between;*/
        /*}*/

        .containerTitle{
            display: flex;
            font-weight: bold;
        }
    </style>

    <script>
        function myFunction() {
            var input, filter, ul, li, span, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                span = li[i].getElementsByTagName("span")[0];
                txtValue = span.textContent || span.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

    <h1 class="text-center">Gérer les villes</h1>
    <h2>Filtrer les villes</h2>

    {% if (message is defined) %}
        <h1>{{ message }}</h1>
    {% endif %}

    <h2>{% for notice in app.flashes('notice') %}
            {{ success }}
        {% endfor %}</h2>

    <div class="mb-3">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="commence à saisir une ville.." title="Type in a name">
    </div>

    <ul id="myUL">
        <li><span href="#">
                <div class="containerTitle box">
                    <div class="title boxVille">Ville</div>
                    <div class="title boxZip">Code postal</div>
                    <div class="title boxActions">Actions</div>
                </div>
            </span></li>
        {% for city in cities %}
            <li><span href="#">
                    <div class="container box">
                        <div class="name boxVille">{{ city.name }}</div>
                        <div class="zipcode boxZip">{{ city.zipcode }}</div>
                        <div class="btn boxActions">
                            <a href="{{ path('app_update_city', {'id': city.id})  }}"><button type="button" id="myClick" class="btn btn-info btn-sm buttonInsideFor">Modifier</button></a>
                            <a href="{{ url('admin_gestion_villes_delete', {'id': city.id}) }}"><button type="button" class="btn btn-danger btn-sm">Supprimer</button></a>
                        </div>
                    </div>
                </span></li>
        {% endfor %}
    </ul>



    <a class="nav-link text-light" href="{{ path('app_add_city') }}" >
        <button type="button" id="myClick" class="btn btn-info mt-3 buttonInsideFor">Ajouter une ville</button>
    </a>

{#        <li>#}
{#            <form action="">#}
{#                <div class="containerTitle box">#}
{#                    <div class="title boxVille"><a href=""><input type="text"></a></div>#}
{#                    <div class="title boxZip"><a href=""><input type="text"></a></div>#}
{#                    <div class="title boxActions">#}
{#                        <a href="#">#}
{#                            <button type="submit" class="btn btn-info btn-sm">Ajouter</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}

{#        </li>#}


{% endblock %}