<style>
    li:hover {
        transform: scale(1.05);
    }
    .navbar{
        background-color:#ff6f61;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{{path('app_welcome')}}">ENI Sortir ! </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_accueil') }}" >Accueil</a></li>
                {% if (is_granted("ROLE_ADMIN")) %}
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('register') }}">Inscription</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('event_createEvent') }}" >Proposer une sortie</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('event_listEvent') }}" >Mes sorties</a></li>
                {% endif %}
                {% if (is_granted("ROLE_ADMIN")) %}
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('admin_city_management_index') }}" >Gestion Ville</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('admin_campus_management_index') }}" >Gestion Campus</a></li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('profiler', {'id': app.user.id}) }}" >Mon profil</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_login') }}" >Connexion</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/logout" >Déconnexion</a></li>
            </ul>
</nav>